<form>
  <div class="container">
  <h1>Password Generator</h1>
  <div>
    <div class="textDiv">
      <mat-label class="text">Enter Length:</mat-label>
    </div>
    <div class="input"> 
      <mat-form-field class="matInput" appearance="outline">
        <input  matInput placeholder="Insert a valid number" 
        (input)="onChangeLength($event)"/>
      </mat-form-field>
    </div>
  </div>
  <div>
    <section class="example-section">
      <mat-checkbox color="primary" class="example-margin" (change)="onChangeUseLetters()">
        Use Letters</mat-checkbox>
    </section>
  </div>
  <div>
    <section class="example-section">
      <mat-checkbox color="primary" class="example-margin" (change)="onChangeUseNumbers()">
        Use Numbers</mat-checkbox>
    </section>
  </div>
  <div>
    <section class="example-section">
      <mat-checkbox color="primary" class="example-margin" (change)="onChangeUseSymbols()">
        Use Symbols</mat-checkbox>
    </section>
  </div>
  <button [disabled]="!(length && (useLetters || useNumbers || useSymbols))" mat-raised-button class="button" style="background-color: #7fb4a2"
  (click)="onButtonClick()">
    Generate!
  </button>
  <div *ngIf="password">
    <div class="textDiv">
      <mat-label class="text">Your new password is: </mat-label>
    </div>
    <div class="input" >
      <mat-form-field class="matInput" appearance="outline">
        <input matInput [value]="password"/>
      </mat-form-field>
    </div>
  </div>
  </div>
</form>
